
body{
    color: #3e3f41;
    background-color:white;
    font-size: 20px;
    text-align:center;
    overflow: auto;
    font-family: 'Poppins', sans-serif;   
}
.head{
    background-color: #282A35;
    color: #282A35;
}
.header{
    float: left;
    padding-right: 0px;
    padding-bottom: 85px;
    padding-left: 200px;
    font-size: 10px;
    border: ;
    
}
h2{
    line: height 10px;px;
    font-family:'Poppins', sans-serif;;
    color:#3e3f41;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: white;
}
.button{
    color:#3e3f41;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    border-style: outset;
    margin-top: 300px;
}
.titulo{
    color: white;
    line-height: 5px;
    text-decoration: none;
}
.picture{
    border-radius: 20%;
    right:15.35cm;
    top: 68px;
    height: 500px;
    width: auto;
    border: ;
    background-color: ;
}
.introduction{
    font-family:'Poppins', sans-serif;;
    color: #3e3f41;
    background-color:;
    padding-right: 100px;
    padding-top: 100px;
    margin-left: 500px;
    height: 300px;
    border: 
   
}
.book{
    width: 80px;
    float: right;
    margin-right: 400px;
}
.education{
    margin-right: 500px;
    margin-top: 90px;
    
}
#educação {
    padding-right: 150px;
    padding-left: 120px;
}
.skills{
    clear: both;
    
}
.education_content{
    font-family:'Poppins', sans-serif;;
    color: #3e3f41;
    
    
}
.softskills{
    font-family:'Poppins', sans-serif;;
    color: #3e3f41;
    clear: both;
    b
    margin-right: 600px;
    float: left;
    margin-left: 250px;
    display: inline;
}
.hardskills{
    float:right;
    margin-right: 400px;
}
.education_plus_skills{
    
}
.contact{
    clear: both;
}
.footer{
    clear: both;
}
.namecontact{
    ine: height 10px;px;
    font-family:'Poppins', sans-serif;;
    color:#3e3f41;
    clear: both;
}
